{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
   
  </style>
<p align="right">Superieur >> Francias >> Paroles</p>
<center><span style="font-size:90px; font-weight:bold; color:Purple">&#9885;Paroles de la chanson 2&#9885;</span></center>
<center><h2><span style="color: darkblue">Papaoutai</span></h2>
<center><h2><span style="color: darkblue">Stromae </span></h2>
<h4><span style="color: red">Ecoute attentivement et essayer de comprendre les paroles</h3>
{% load static %}
<audio controls>
<td><source src="{% static 'audio/papa.mp3' %}" type ="audio/mpeg">
</audio><center>
<br></br>
<span style="color: darkblue"><h2> Paroles</h2></span>
<table><center>
<tr><h4>Dites-moi d'ou il vient</h4></tr>
<tr><h4>Enfin je saurai ou je vais</h4></tr>
<tr><h4>Maman dit que lorsqu'on cherche bien</h4></tr>
<tr><h4>On finit toujours par trouver</h4></tr>
<tr><h4>Elle dit qu'il n'est jamais tres loin</h4></tr>
<tr><h4>Qu'il part tres souvent travailler</h4></tr>
<tr><h4>Maman dit "travailler c'est bien"</h4></tr>
<tr><h4>Bien mieux qu'etre mal accompagne</h4></tr>
<tr><h4>Pas vrai ?</h4></tr>
<br></br>
<tr><h4>Ou est ton papa ?</h4></tr>
<tr><h4>Dis-moi ou est ton papa ?</h4></tr>
<tr><h4>Sans meme devoir lui parler</h4></tr>
<tr><h4>Il sait ce qui ne va pas</h4></tr>
<tr><h4>Ah sacre papa</h4></tr>
<tr><h4>Dis-moi ou es-tu cache ?</h4></tr>
<tr><h4>Ca doit, faire au moins mille fois que j'ai</h4></tr>
<tr><h4>Compte mes doigts</h4></tr>
<br></br>
<tr><h4>Ou t'es, papaoutai?(x8)</h4></tr>
<tr><h4>Ou t'es(x7)</h4></tr>
<br></br>
<tr><h4>Quoi, qu'on y croit ou pas</h4></tr>
<tr><h4>Y aura bien un jour ou on y croira plus</h4></tr>
<tr><h4>Un jour ou l'autre on sera tous papa</h4></tr>
<tr><h4>Un jour ou l'autre on sera tous papa</h4></tr>
<tr><h4>Serons-nous detestables ?</h4></tr>
<tr><h4>Serons-nous admirables ?</h4></tr>
<tr><h4>Des geniteurs ou des genies ?</h4></tr>
<tr><h4>Dites-nous qui donne naissance aux irresponsables ?</h4></tr>
<tr><h4>Ah dites-nous qui, tiens</h4></tr>
<tr><h4>Tout le monde sait comment on fait les bebes</h4></tr>
<tr><h4>Mais personne sait comment on fait des papas</h4></tr>
<tr><h4>Monsieur Je-sais-tout en aurait herite, c'est ca</h4></tr>
<tr><h4>Faut l'sucer d'son pouce ou quoi ?</h4></tr>
<br></br>
<tr><h4>Ou t'es, papaoutai?(x8)</h4></tr>
<tr><h4>Ou t'es(x7)</h4></tr>
</table>

 <h3><a href="https://www.youtube.com/watch?v=oiKj0Z_Xnjc" target="_blank">Decouvrez le clip video</a></h3>

</center>
{%endblock content%}