{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
   
  </style>
<p align="right">Superieur >> Francais >> Dialogue 1</p>
<center><span style="font-size:90px; font-weight:bold; color:Purple">&#9885;Dialogue&#9885;</span></center>
<center><h2><span style="color: darkblue">Amitie a l'amour</span></h2>
<h4><span style="color: red">Ecoutez attentivement et essayez de comprendre le dialogue</h3>
{% load static %}
<audio controls>
<td><source src="{% static 'audio/20771.mp3' %}" type ="audio/mpeg">
</audio><center>
<br></br>
<span style="color: darkblue"><h3> Script de l'audio</h3></span>
<table >
<tr><h4><i>Bonjour,je m'appelle Marie.</i></h4></tr>
<tr><h4> J'ai 25 ans et je vis a Paris.</h4></tr>
<tr><h4><i> Je suis ravie de vous rencontrer.</i></h4></tr>
<tr><h4> J'espere que nous deviendrons des amis.</h4></tr>
<tr><h4><i> J'aimerais vous faire visiter ma ville.</i></h4></tr>
<tr><h4> C'est la plus belle capitale du monde.</h3></tr>
<tr><h4><i> Aimeriez-vous faire une promenade sur la Seine?</i></h3></tr>
<tr><h4> Vous decouvrirez tous les monuments ainsi.
</h3></tr>
<tr><h4><i>C'est d'accord?</i></h3></tr>
<tr><h4>Alors je passe vous prendre a l'hotel a 20h.</h3></tr>
<tr><h4><i>Prenez un vetement chaud car les nuits sont fraiches en cette saison.</i></h3></tr>
<tr><h4>lors a tout a l'heure.</h3></tr>

</table>
<table>
<td><center><a href="listening1-frc"; style="font-size:30px; color:red"><h2>Test d'ecoute</h2></a></center></td>
</table>
{%endblock content%}