{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;   
   }  
  </style>
<p align="right">Superieur >> Francais >> Paroles</p>
<center><span style="font-size:90px; font-weight:bold; color:Purple">&#9885;Paroles de la chanson&#9885;</span></center>
<center><h2><span style="color: darkblue">Je T'aime</span></h2>
<center><h2><span style="color: darkblue">Lara Fabian </span></h2>
<h4><span style="color: red">Ecoute attentivement et essayer de comprendre les paroles</h3>
{% load static %}
<audio controls>
<td><source src="{% static 'audio/lara.mp3' %}" type ="audio/mpeg">
</audio><center>
<br></br>
<span style="color: darkblue"><h2> Paroles</h2></span>
<table><center>
<tr><h4>D'accord, il existait</h4></tr>
<tr><h4>D'autres facons de se quitter</h4></tr>
<tr><h4>Quelques eclats de verre</h4></tr>
<tr><h4>Auraient peut-etre pu nous aider</h4></tr>
<tr><h4>Dans ce silence amer</h4></tr>
<tr><h4>J'ai decide de pardonner</h4></tr>
<tr><h4>Les erreurs qu'on peut faire</h4></tr>
<tr><h4>A trop s'aimer</h4></tr>
<br></br>
<tr><h4>D'accord, la petite fille</h4></tr>
<tr><h4>En moi souvent te reclamait</h4></tr>
<tr><h4>Presque comme une mere</h4></tr>
<tr><h4>Tu me bordais, me protegeais</h4></tr>
<tr><h4>Je t'ai vole ce sang</h4></tr>
<tr><h4>Qu'on aurait pas du partager</h4></tr>
<tr><h4>A bout de mots, de reves</h4></tr>
<tr><h4>Je vais crier</h4></tr>
<br></br>
<tr><h4>Je t'aime, je t'aime</h4></tr>
<tr><h4>Comme un fou, comme un soldat</h4></tr>
<tr><h4>Comme une star de cinema</h4></tr>
<tr><h4>Je t'aime, je t'aime</h4></tr>
<tr><h4>Comme un loup, comme un roi</h4></tr>
<tr><h4>Comme un homme que je ne suis pas</h4></tr>
<tr><h4>Tu vois, je t'aime comme ca</h4></tr>
<br></br>
<tr><h4>D'accord je t'ai confie</h4></tr>
<tr><h4>Tous mes sourires, tous mes secrets</h4></tr>
<tr><h4>Meme ceux dont seul un frere</h4></tr>
<tr><h4>Est le gardien inavoue</h4></tr>
<tr><h4>Dans cette maison de pierre</h4></tr>
<tr><h4>Satan nous regardait danser</h4></tr>
<tr><h4>J'ai tant voulu la guerre</h4></tr>
<tr><h4>De corps qui se faisaient la paix</h4></tr>
<br></br>
<tr><h4>Je t'aime, je t'aime</h4></tr>
<tr><h4>Comme un fou, comme un soldat</h4></tr>
<tr><h4>Comme une star de cinema</h4></tr>
<tr><h4>Je t'aime, je t'aime</h4></tr>
<tr><h4>Comme un loup, comme un roi</h4></tr>
<tr><h4>Comme un homme que je ne suis pas</h4></tr>
<tr><h4>Tu vois, je t'aime comme ca</h4></tr>
<br></br>
<tr><h4>Je t'aime, je t'aime</h4></tr>
<tr><h4>Comme un fou, comme un soldat</h4></tr>
<tr><h4>Comme une star de cinema</h4></tr>
<tr><h4>Je t'aime, je t'aime, je t'aime, je t'aime, je t'aime, je t'aime</h4></tr>
<tr><h4>Comme un loup, comme un roi</h4></tr>
<tr><h4> un homme que je ne suis pas</h4></tr>
<tr><h4>Tu vois, je t'aime comme ca</h4></tr>
<br></br>
<tr><h4>Tu vois, je t'aime comme ca</h4></tr>
</table>
 <h3><a href="https://www.youtube.com/watch?v=JoZ6P6ihzCU" target="_blank">Decouvrez le clip video</a></h3>
</center>
{%endblock content%}