{% extends 'base.html' %}
{%block content%}
<html>
<head>
<style>
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
</style>
</head>
<body>

  <p align="right">principiante &gt;&gt; Espanol &gt;&gt; Alfabeto</p>
 <center><br><span style="font-size:90px; font-weight:bold; color:pink"> Abecedario </span></br></center>
 <br></br>
 <h2>El alfabeto espanol esta formado de 27 letras y 5 digrafos o combinaciones de dos letras, segun la gramatica oficial de la Lengua Espanola. Las letras del alfabeto o abecedario son 27 desde el ano 2010 y el numero es el mismo para todos los paises de habla espanola. </h2>
 <center><table>
 <td>
 {% load static %}
 <tr>
<td><img src="{% static 'alphabet/a.png' %}" alt = "A"></img></td>
<td><img src="{% static 'alphabet/b.png' %}" alt = "B"></img></td>
<td><img src="{% static 'alphabet/c.png' %}" alt = "C"></img></td>
<td><img src="{% static 'alphabet/ch.png' %}" alt = "Ch"></img></td>
<td><img src="{% static 'alphabet/d.png' %}" alt = "D"></img></td>
</tr>
<tr>
<td><center><a style="color:red"><h2>A de arroz</h2></a></center></td>
<td><center><a style="color:silver"><h2>B de banana</h2></a></center></td>
<td><center><a style="color:black"><h2>C de cuaderno</h2></a></center></td>
<td><center><a style="color:black"><h2>Ch de chile</h2></a></center></td>
<td><center><a style="color:pink"><h2>D de diente</h2></a></center></td>
</tr>
 <tr>
<td><img src="{% static 'alphabet/e.png' %}" alt = "E"></img></td>
<td><img src="{% static 'alphabet/f.png' %}" alt = "F"></img></td>
<td><img src="{% static 'alphabet/g.png' %}" alt = "G"></img></td>
<td><img src="{% static 'alphabet/h.png' %}" alt = "H"></img></td>
</tr>
<tr>
<td><center><a style="color:red"><h2>E de elefante</h2></a></center></td>
<td><center><a style="color:silver"><h2>F de fiesta</h2></a></center></td>
<td><center><a style="color:black"><h2>G de gato </h2></a></center></td>
<td><center><a style="color:pink"><h2>H de huevo</h2></a></center></td>
</tr>
 <tr>
<td><img src="{% static 'alphabet/i.png' %}" alt = "I"></img></td>
<td><img src="{% static 'alphabet/j.png' %}" alt = "J"></img></td>
<td><img src="{% static 'alphabet/k.png' %}" alt = "K"></img></td>
<td><img src="{% static 'alphabet/l.png' %}" alt = "L"></img></td>
<td><img src="{% static 'alphabet/ll.png' %}" alt = "LL"></img></td>
</tr>
<tr>
<td><center><a style="color:red"><h2>I de iglesia</h2></a></center></td>
<td><center><a style="color:silver"><h2>J de</h2></a></center></td>
<td><center><a style="color:black"><h2>K de kilo</h2></a></center></td>
<td><center><a style="color:pink"><h2>L de luna</h2></a></center></td>
<td><center><a style="color:pink"><h2>LL de  silla</h2></a></center></td>
</tr>
 <tr>
<td><img src="{% static 'alphabet/m.png' %}" alt = "M"></img></td>
<td><img src="{% static 'alphabet/n.png' %}" alt = "N"></img></td>
<td><img src="{% static 'alphabet/ene.png' %}" alt = "ENE"></img></td>
<td><img src="{% static 'alphabet/o.png' %}" alt = "O"></img></td>
<td><img src="{% static 'alphabet/p.png' %}" alt = "P"></img></td>
</tr>
<tr>
<td><center><a style="color:red"><h2>M de manzana</h2></a></center></td>
<td><center><a style="color:silver"><h2>N de nube</h2></a></center></td>
<td><center><a style="color:silver"><h2>eNe de nube</h2></a></center></td>
<td><center><a style="color:black"><h2>O de ojo</h2></a></center></td>
<td><center><a style="color:pink"><h2>P de perro</h2></a></center></td>
</tr>
 <tr>
<td><img src="{% static 'alphabet/q.png' %}" alt = "Q"></img></td>
<td><img src="{% static 'alphabet/r.png' %}" alt = "R"></img></td>
<td><img src="{% static 'alphabet/s.png' %}" alt = "S"></img></td>
<td><img src="{% static 'alphabet/t.png' %}" alt = "T"></img></td>
</tr>
<tr>
<td><center><a style="color:red"><h2>Q de queso</h2></a></center></td>
<td><center><a style="color:silver"><h2>R de radio</h2></a></center></td>
<td><center><a style="color:black"><h2>S de sol</h2></a></center></td>
<td><center><a style="color:pink"><h2>T de tigre</h2></a></center></td>
</tr>
 <tr>
<td><img src="{% static 'alphabet/u.png' %}" alt = "U"></img></td>
<td><img src="{% static 'alphabet/v.png' %}" alt = "V"></img></td>
<td><img src="{% static 'alphabet/w.jpg' %}" alt = "W"></img></td>
<td><img src="{% static 'alphabet/x.png' %}" alt = "X"></img></td>
</tr>
<tr>
<td><center><a style="color:red"><h2>U de uvas</h2></a></center></td>
<td><center><a style="color:silver"><h2>V de vela</h2></a></center></td>
<td><center><a style="color:black"><h2>W de wafle</h2></a></center></td>
<td><center><a style="color:red"><h2>X de taxi</h2></a></center></td>
</tr>
 <tr>
<td><img src="{% static 'alphabet/y.png' %}" alt = "Y"></img></td>
<td><img src="{% static 'alphabet/z.png' %}" alt = "Z"></img></td>
</tr>
<tr>
<td><center><a style="color:silver"><h2>Y de yogur</h2></a></center></td>
<td><center><a style="color:black"><h2>Z de Zorro</h2></a></center></td>
</tr>
 </table>
 
 
 <h3><a href="https://youtu.be/CVyAtRKcqxE" target="_blank"> ver un video del alfabeto</a></h3>

</center>
 </body>
 </html>
 {% endblock %}
