{% extends 'base.html' %}

{% block content %}

<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">

<script language="JavaScript">
<!-- Hide JavaScript from Java-Impaired Browsers
l=0;
function dataBase(test) {
     var counter=0;
     if (test.q1[0].checked) {counter++;}
     if (test.q2[1].checked) {counter++;}
     if (test.q3[0].checked) {counter++;}
     if (test.q4[1].checked) {counter++;}
     if (test.q5[2].checked) {counter++;}

   if (l==0)
     {
   counter=counter;
       }
       else
       {
       counter=0;
       }
       l=l+1;
     document.test.display.value = counter;
}

// End Hiding Script -->
</script>
</head><body bgcolor="#a6caf0">
<center>
<h1>Spanish Level Test</h1>
<h2> Lee estas oraciones y elige la respuesta correcta</h2>
<form method="post" name="test">
<!--ENCTYPE="text/plain"-->
<hr width="75">

<h3>1.  <strong>
<input name="q1" value="11" type="radio">Eres-tu frances?
<input name="q1" value="12" type="radio">Tu eres frances?
<input name="q1" value="13" type="radio">Tu fuiste frances?
</strong></p>
</div><hr>
<h3>2.<strong>
<input name="q2" value="21" type="radio">Estos es mi estuche.
<input name="q2" value="22" type="radio">Esta es mi estuche.
<input name="q2" value="23" type="radio">estas es mi estuche.
</strong></p>
</div><hr>
<h3>3. <strong>
<input name="q3" value="31" type="radio">Veo la TV para relajarme.
<input name="q3" value="32" type="radio">Veo la TV para de relajarme.
<input name="q3" value="33" type="radio">Veo la TV por de relajarme.
</strong></p>
</div><hr>
<h3>4. <strong>
<input name="q4" value="41" type="radio">Sere a ser veterinario cuando crezca. 
<input name="q4" value="42" type="radio">Sere un veterinario cuando crezca. 
<input name="q4" value="43" type="radio">Soy veterinarion cuando crezca.
</strong></p>
</div><hr>
<h3>5.<strong>
<input name="q5" value="51" type="radio">Estuvo ido al parque ayer.
<input name="q5" value="52" type="radio">Estoy al parque ayer
<input name="q5" value="53" type="radio">Estuve al parque ayer.
</strong></p>
</div><hr>
 
</strong></p>
</div><hr>
<table>
<tbody><tr>
<td colspan="3"><div align="center"><p><strong><hr>Presiona el boton &nbsp; Para terminar el examen :</strong></p></div></td>
</tr>
<tr align="center">
<td><strong><input name="check" onclick="dataBase(this.form)" value=" Check " type="button"></strong></td>
<td><strong><textarea cols="6" name="display" rows="1" wrap="VIRTUAL"></textarea></strong></td>
 
</tr>
</tbody></table>
<input name='back' type='button' value='Home' onclick='javascript:history.go(-5);'>
</form></center>
</body></html>

{% endblock %}