{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
   
  </style>
<p align="right">Advanced >> English >> Dialog 2</p>
<center><span style="font-size:90px; font-weight:bold; color:Purple">&#9885;Dialog&#9885;</span></center>
<center><h2><span style="color: darkblue">Love Is In The Air</span></h2>
<h4><span style="color: red">Listen carefully and try to understand the dialog.</h3>
{% load static %}
<audio controls>
<td><source src="{% static 'audio/love.mp3' %}" type ="audio/mpeg">
</audio><center>
<br></br>
<span style="color: darkblue"><h3> Script of the audio</h3></span>
<table >
<tr><h4><i>So Carolina, where did you first meet Enrico?</i></h4></tr>
<tr><h4> Well, it's funny really because we first met when we were just four or five but we don't actually remember. We both lived in the same apartment block until Enrico's family moved to the north of Italy, when I guess we were about seven.</h4></tr>
<tr><h4><i>So, did you keep in touch?</i></h4></tr>
<tr><h4>No, not at all. we didn't really know each other so there was no reason to. He was just the quiet, funny looking boy that nobody ever really spoke to.</h4></tr>
<tr><h4><i>OK, so how did you meet for the second time?</i></h4></tr>
<tr><h4>Well, it was about five years ago. I went to university in Milan to study European languages and although I worked very hard during the day, at night I liked to go out and enjoy myself. Anyway, one night I was in a salsa bar with some friends when I noticed at the next table this really good-looking guy who was sitting alone and chatting on his mobile. I didn't realise I was staring at him, but after what seemed like hours he looked at me and gave me a really friendly smile. I felt really embarrassed, I don't know why, so I just looked away and spoke to my friends.</h3></tr>
<tr><h4><i>What happened then?</i></h3></tr>
<tr><h4>Nothing. I mean, I felt a bit silly so I tried to ignore him but I just couldn't stop looking over at his table. Every time I did he smiled. That gorgeous smile! For some reason he seemed really familiar but I didn't remember seeing him on any of my language courses, and I certainly didn't know anyone who lived in Milan. I was trying so hard to remember his face, but when I looked over again he was gone..</h3></tr>
<tr><h4><i>Oh no! what did you do then?</i></h3></tr>
<tr><h4>But then there he was, standing behind our table. I just sat there and looked at him like I was some kind of idiot. I didn't know what to say.</h3></tr>
<tr><h4><i>Who spoke first?</i></h3></tr>
<tr><h4>He did</h3></tr>
<tr><h4><i>What did he say?</i></h3></tr>
<tr><h4>He said "hello stranger. I haven't seen you since we moved away. You look wonderful. What are you doing here?" I didn't know what to say because I didn't know what he was talking about. Then he explained about how we'd lived in the same apartment block etc. etc.  I just couldn't believe that he'd recognised me.</h3></tr>
<tr><h4><i>But were you happy?</i></h3></tr>
<tr><h4>Oh yeah, I mean, he was gorgeous. I just felt a bit bad that I hadn't remembered him but that he'd remembered me.</h3></tr>
<tr><h4><i>So what happened in the end?</i></h3></tr>
<tr><h4>We swapped phone numbers and he promised to call me the following week to go out for a pizza. It's not very original, I know, but I didn't care to be honest. I just wanted to see him again. What in fact happened was that he called me the next morning and said that he couldn't wait a whole week to see me, so we met that afternoon and had a beautiful walk in the local park and talked about everything and nothing. It was so romantic. That day we fell in love and have been happy ever since. Our daughter, Sabelle, was born 6 months ago and we're getting married next summer.</h3></tr>
<tr><h4><i>Sabelle?! Who chose that name?</i></h3></tr>
<tr><h4>We both did.</h3></tr>
</table>
<table>
<td><center><a href="listening2-eng"; style="font-size:30px; color:red"><h2>Listening Test</h2></a></center></td>
</table>
{%endblock content%}