{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
   
  </style>
<p align="right">Advanced >> English >> Lyrics</p>
<center><span style="font-size:90px; font-weight:bold; color:Purple">&#9885;Lyrics of the Song&#9885;</span></center>
<center><h2><span style="color: darkblue">I Want It That Way </span></h2>
<center><h2><span style="color: darkblue">Backstreet Boys </span></h2>
<h4><span style="color: red">Listen carefully and try to understand the lyrics.</h3>
{% load static %}
<audio controls>
<td><source src="{% static 'audio/want.mp3' %}" type ="audio/mpeg">
</audio><center>
<br></br>
<span style="color: darkblue"><h2> Lyrics</h2></span>
<table><center>
<tr><h4>You are my fire</h4></tr>
<tr><h4>The one desire</h4></tr>
<tr><h4>Believe when I say</h4></tr>
<tr><h4>I want it that way</h4></tr>
<br></br>
<tr><h4>But we are two worlds apart</h4></tr>
<tr><h4>Can't reach to your heart</h4></tr>
<tr><h4>When you say</h4></tr>
<tr><h4>That I want it that way</h4></tr>
<br></br>
<tr><h4>Tell me why</h4></tr>
<tr><h4>Ain't nothin' but a heartache</h4></tr>
<tr><h4>Tell me why</h4></tr>
<tr><h4>Ain't nothin' but a mistake</h4></tr>
<tr><h4>Tell me why</h4></tr>
<tr><h4>I never want to hear you say</h4></tr>
<tr><h4>I want it that way</h4></tr>
<br></br>
<tr><h4>Am I your fire?</h4></tr>
<tr><h4>Your one desire</h4></tr>
<tr><h4>Yes I know it's too late</h4></tr>
<tr><h4>But I want it that way</h4></tr>
<br></br>
<tr><h4>Tell me why</h4></tr>
<tr><h4>Ain't nothin' but a heartache</h4></tr>
<tr><h4>Tell me why</h4></tr>
<tr><h4>Ain't nothin' but a mistake</h4></tr>
<tr><h4>Tell me why</h4></tr>
<tr><h4>I never want to hear you say</h4></tr>
<tr><h4>I want it that way</h4></tr>
<br></br>
<tr><h4>Now I can see that we've fallen apart</h4></tr>
<tr><h4>From the way that it used to be Yeah</h4></tr>
<tr><h4>No matter the distance</h4></tr>
<tr><h4>I want you to know</h4></tr>
<tr><h4>That deep down inside of me</h4></tr>
<br></br>
<tr><h4>You are my fire</h4></tr>
<tr><h4>The one desire</h4></tr>
<tr><h4>You are (you are you are you are)</h4></tr>
<br></br>
<tr><h4>Don't want to hear you say</h4></tr>
<tr><h4>Ain't nothin' but a heartache</h4></tr>
<tr><h4>Ain't nothin' but a mistake</h4></tr>
<tr><h4>(Don't want to hear you say)</h4></tr>
<tr><h4>I never want to hear you say</h4></tr>
<tr><h4>I want it that way</h4></tr>
<br></br>
<tr><h4>Tell me why</h4></tr>
<tr><h4>Ain't nothin' but a heartache</h4></tr>
<tr><h4>Tell me why</h4></tr>
<tr><h4>Ain't nothin' but a mistake</h4></tr>
<tr><h4>Tell me why</h4></tr>
<tr><h4>I never want to hear you say</h4></tr>
<tr><h4>I want it that way</h4></tr>
<br></br>
<tr><h4>Tell me why</h4></tr>
<tr><h4>Ain't nothin' but a heartache</h4></tr>
<tr><h4>Ain't nothin' but a mistake</h4></tr>
<tr><h4>Tell me why</h4></tr>
<tr><h4>I never want to hear you say</h4></tr>
<tr><h4>(Never want to hear you say it)</h4></tr>
<tr><h4>I want it that way</h4></tr>
<br></br>
<tr><h4>'Cause I want it that way</h4></tr>
</table>

 <h3><a href="https://www.youtube.com/watch?v=4fndeDfaWCg" target="_blank"> Check out the Music Video!</a></h3>

</center>
{%endblock content%}