{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
  </style>
<p align="right">Begginer >> Spanish</p>
<center><br><span style ="font-size: 70px; font-weight:bold; color: navy">Topics</span></br></center>
<center><table cellspacing=45; cellpadding=20>
   <tr> 
   <td><center><a href="alphabet-spa"; style="font-size:30px; color:red"><h2>Alphabet</h2></a></center></td>
   <td><center><a href="numbers-spa"; style="font-size:30px; color:red"><h2>Numbers</h2></a></center></td>
   <td><center><a href="colors-spa"; style="font-size:30px; color:red"><h2>Colors</h2></a></center></td>
   <td><center><a href="fruits-spa"; style="font-size:30px; color:red"><h2>Fruits</h2></a></center></td>
   <td><center><a href="clothes-spa"; style="font-size:30px; color:red"><h2>Clothes</h2></a></center></td>
  </tr>
  </table>
 <table>
  <td><center><a href="testbeg-spa"; style="font-size:30px; color:red"><h2>Quiz</h2></a></center></td>
</table></center>
{%endblock content%}