{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
  </style>
<p align="right">Intermediate >> Spanish</p>
<center><br><span style ="font-size: 70px; font-weight:bold; color: navy">Topics</span></br></center>
<center><table cellspacing=45; cellpadding=20>
   <tr> 
   <td><center><a href="present-spa"; style="font-size:30px; color:red"><h2>Present Simple "to be"</h2></a></center></td>
   <td><center><a href="past-spa"; style="font-size:30px; color:red"><h2>Past Simple "to be"</h2></a></center></td>
   <td><center><a href="future-spa"; style="font-size:30px; color:red"><h2>Will - future predictions</h2></a></center></td>

  </tr>
  </table>
  <table cellspacing="60">
  <tr>
    <td><center><a href="this-spa"; style="font-size:30px; color:red"><h2>Demonstratives</h2></a></center></td>
   <td><center><a href="infin-spa"; style="font-size:30px; color:red"><h2>Infinitives</h2></a></center></td>
  </tr>
</table>
<table>
<td><center><a href="writing-spa"; style="font-size:30px; color:red"><h2>Prueba de escucha</h2></a></center></td>
</table></center>
{%endblock content%}