{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }

  </style>
<p align="right">Superior >> Espanol >> Dialogo 2</p>
<center><span style="font-size:90px; font-weight:bold; color:Purple">&#9885;Dialogo&#9885;</span></center>
<center><h2><span style="color: darkblue">Las puertas retorcidas 2</span></h2>
<h4><span style="color: red">Escuche atentamente e intente comprender el dialogo.</h3>
{% load static %}
<audio controls>
<td><source src="{% static 'audio/retorcidas2.mp3' %}" type ="audio/mpeg">
</audio><center>
<br></br>
<span style="color: darkblue"><h3> Guion del audio</h3></span>
<table >
<tr><h4><i>Francisca, estoy cansado. Hemos pasado por al menos ocho puertas retorcidas. Alguna vez se va a terminar esto? </i></h3></tr>
<tr><h4><i>Enrique, tienes que ser valiente. No olvides que la pintura bonita nos dijo que pasaramos a traves de las puertas retorcidas. No tenemos eleccion. Debemos tratar de hacer lo que ella nos dijo</i>.</h3></tr>
<tr><h4>Otra vez, Enrique avanza hacia una puerta retorcida. Tan pronto como llega al umbral de la puerta, vemos que esta no es como las otras:</h3></tr>
<tr><h4>Una cara sobrenatural con rasgos iluminados aparece subitamente sobre la puerta retorcida! Los pequenos ojos negros penetran hasta lo mas profundo de nuestras almas.</h3></tr>
<tr><h4><i>La enorme boca, que enmarca un infinito espacio negro, articula las siguientes palabras:</h3></tr>
<tr><h4><i>Ustedes nunca van a salir de aqui, ninos. Ustedes son mios! </i></h3></tr>
<tr><h4>Declara el espectro con una voz tan tronante que las vibraciones sacuden el pasillo.</h3></tr>
<tr><h4>Enrique esta aterrorizado frente a la puerta retorcida. El fantasma se aprovecha de esto:</h3></tr>
<tr><h4>Una gran mano con un largo brazo que parece surgir de la superficie de la puerta agarra al pobre Enrique. . . </h3></tr>
<tr><h4>La mano fantasmagorica sujeta el cuerpo del pequeno Enrique con un terrible apreton y lo aleja de la puerta. <i>Francisca! Ayudame! </i> siempre.</h3></tr>
</table>
<table>
<td><center><a href="listening2-spa"; style="font-size:30px; color:red"><h2>Prueba de escucha</h2></a></center></td>
</table>
{%endblock content%}