{% extends 'base.html' %}

{%block content%}
  <style> 
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
   
  </style>
<p align="right">Superior >> Espanol >> Letra</p>
<center><span style="font-size:90px; font-weight:bold; color:Purple">&#9885;Letra de la Cancion&#9885;</span></center>
<center><h2><span style="color: darkblue">Despacito </span></h2>
<center><h2><span style="color: darkblue">Luis Fonsi, Daddy Yankee </span></h2>
<h4><span style="color: red">Escucha atentamente y trata de entender la letra</h3>
{% load static %}
<audio controls>
<td><source src="{% static 'audio/despacito.mp3' %}" type ="audio/mpeg">
</audio><center>
<br></br>
<span style="color: darkblue"><h2> Letra</h2></span>
<table><center>
<tr><h4>Ay</h4></tr>
<tr><h4>Fonsi</h4></tr>
<tr><h4>DY </h4></tr>
<tr><h4>Oh</h4></tr>
<tr><h4>Oh no, oh no</h4></tr>
<tr><h4>Oh yeah</h4></tr>
<tr><h4>Diridiri, dirididi Daddy </h4></tr>
<tr><h4>Go</h4></tr>
<tr><h4>Si, sabes que ya llevo un rato mirandote </h4></tr>
<tr><h4>Tengo que bailar contigo hoy (DY) </h4></tr>
<tr><h4>Vi que tu mirada ya estaba llamandome </h4></tr>
<tr><h4>Muestrame el camino que yo voy (Oh)</h4></tr>
<tr><h4>Tu, tu eres el iman y yo soy el metal </h4></tr>
<tr><h4>Me voy acercando y voy armando el plan </h4></tr>
<tr><h4>Solo con pensarlo se acelera el pulso (Oh yeah)</h4></tr>
<tr><h4>Ya, ya me esta gustando mas de lo normal </h4></tr>
<tr><h4>Todos mis sentidos van pidiendo mas </h4></tr>
<tr><h4>Esto hay que tomarlo sin ningun apuro</h4></tr>
<tr><h4>Despacito </h4></tr>
<tr><h4>Quiero respirar tu cuello despacito </h4></tr>
<tr><h4>Deja que te diga cosas al oido </h4></tr>
<tr><h4>Para que te acuerdes si no estas conmigo</h4></tr>
<tr><h4>Despacito </h4></tr>
<tr><h4>Quiero desnudarte a besos despacito </h4></tr>
<tr><h4>Firmo en las paredes de tu laberinto </h4></tr>
<tr><h4>Y hacer de tu cuerpo todo un manuscrito (sube, sube, sube)</h4></tr>
<tr><h4>(Sube, sube)</h4></tr>
<tr><h4>Quiero ver bailar tu pelo </h4></tr>
<tr><h4>Quiero ser tu ritmo </h4></tr>
<tr><h4>Que le ensenes a mi boca </h4></tr>
<tr><h4>Tus lugares favoritos (favoritos, favoritos baby)</h4></tr>
<tr><h4>Dejame sobrepasar tus zonas de peligro </h4></tr>
<tr><h4>Hasta provocar tus gritos </h4></tr>
<tr><h4>Y que olvides tu apellido (Diridiri, dirididi Daddy)</h4></tr>
<tr><h4>Si te pido un beso ven damelo </h4></tr>
<tr><h4>Yo se que estas pensandolo </h4></tr>
<tr><h4>Llevo tiempo intentandolo </h4></tr>
<tr><h4>Mami, esto es dando y dandolo </h4></tr>
<tr><h4>Sabes que tu corazon conmigo te hace bom, bom </h4></tr>
<tr><h4>Sabes que esa beba esta buscando de mi bom, bom </h4></tr>
<tr><h4>Ven prueba de mi boca para ver como te sabe </h4></tr>
<tr><h4>Quiero, quiero, quiero ver cuanto amor a ti te cabe </h4></tr>
<tr><h4>Yo no tengo prisa, yo me quiero dar el viaje </h4></tr>
<tr><h4>Empecemos lento, despues salvaje</h4></tr>
<tr><h4>Pasito a pasito, suave suavecito </h4></tr>
<tr><h4>Nos vamos pegando poquito a poquito </h4></tr>
<tr><h4>Cuando tu me besas con esa destreza </h4></tr>
<tr><h4>Veo que eres malicia con delicadeza</h4></tr>
<tr><h4>Pasito a pasito, suave suavecito </h4></tr>
<tr><h4>Nos vamos pegando, poquito a poquito </h4></tr>
<tr><h4>Y es que esa belleza es un rompecabezas </h4></tr>
<tr><h4>Pero pa montarlo aqui tengo la pieza</h4></tr>
<tr><h4>Despacito </h4></tr>
<tr><h4>Quiero respirar tu cuello despacito </h4></tr>
<tr><h4>Deja que te diga cosas al oido </h4></tr>
<tr><h4>Para que te acuerdes si no estas conmigo</h4></tr>
<tr><h4>Despacito </h4></tr>
<tr><h4>Quiero desnudarte a besos despacito </h4></tr>
<tr><h4>Firmo en las paredes de tu laberinto </h4></tr>
<tr><h4>Y hacer de tu cuerpo todo un manuscrito (sube, sube, sube)</h4></tr>
<tr><h4>(Sube, sube)</h4></tr>
<tr><h4>Quiero ver bailar tu pelo </h4></tr>
<tr><h4>Quiero ser tu ritmo </h4></tr>
<tr><h4>Que le ensenes a mi boca </h4></tr>
<tr><h4>Tus lugares favoritos (favoritos, favoritos baby)</h4></tr>
<tr><h4>Dejame sobrepasar tus zonas de peligro </h4></tr>
<tr><h4>Hasta provocar tus gritos </h4></tr>
<tr><h4>Y que olvides tu apellido</h4></tr>
<tr><h4>Despacito </h4></tr>
<tr><h4>Vamos a hacerlo en una playa en Puerto Rico </h4></tr>
<tr><h4>Hasta que las olas griten "ay, bendito!" </h4></tr>
<tr><h4>Para que mi sello se quede contigo</h4></tr>
<tr><h4>Pasito a pasito, suave suavecito </h4></tr>
<tr><h4>Nos vamos pegando, poquito a poquito </h4></tr>
<tr><h4>Que le ensenes a mi boca </h4></tr>
<tr><h4>Tus lugares favoritos (favoritos, favoritos baby)</h4></tr>
<tr><h4>Pasito a pasito, suave suavecito </h4></tr>
<tr><h4>Nos vamos pegando, poquito a poquito </h4></tr>
<tr><h4>Hasta provocar tus gritos </h4></tr>
<tr><h4>Y que olvides tu apellido (DY)</h4></tr>
<tr><h4>Despacito</h4></tr>
</table>

 <h3><a href="https://www.youtube.com/watch?v=kJQP7kiw5Fk" target="_blank"> Check out the Music Video!</a></h3>

</center>
{%endblock content%}