{% extends 'base.html' %}

{%block content%}
<style>
   p { 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif; 
  
   }
</style>
</head>
<body>

  <p align="right">Beginner &gt;&gt; English &gt;&gt; Numbers</p>
 <center><br><span style="font-size:90px; font-weight:bold; color:Gold"> &#1421;Numbers&#1421;</span></br></center>
 <br></br>
<center><br><span style="font-size:35px; font-weight:bold; color:navy"> Numbers in word from 1 to 10</span></br>
 <br><span style="font-size:25px; font-weight:bold; color:navy">These are also called cardinal numbers.</span></br>
<br><span style="font-size:25px; font-weight:bold; color:navy"> Since they express quantity, they are mainly used when counting in English. </span></br>
 <br><span style="font-size:25px; font-weight:bold; color:navy">Cardinal numbers have many uses, among those are: talk about a person's age, sharing phone numbers, or telling someone in which year you were born. </span></br>
</center>
<br></br>
 <center><br></br>
 
 <table>
 <td>

 {% load static %}
<tr>
<td><img src="{% static 'numbers/1.png' %}" alt = "1"></img></td>
<td><img src="{% static 'numbers/2.png' %}" alt = "2"></img></td>
<td><img src="{% static 'numbers/3.png' %}" alt = "3"></img></td>
<td><img src="{% static 'numbers/4.png' %}" alt = "4"></img></td>
<td><img src="{% static 'numbers/5.png' %}" alt = "5"></img></td>
</tr>
<tr>
<td><center><a style="color:skyblue"><h2>1 - one </h2></a></center></td>
<td><center><a style="color:skyblue"><h2>2 - two</h2></a></center></td>
<td><center><a style="color:skyblue"><h2>3 - three<h2></a></center></td>
<td><center><a style="color:skyblue"><h2>4 - four</h2></a></center></td>
<td><center><a style="color:skyblue"><h2>5 - five</h2></a></center></td>
</tr>
<tr>
<td><img src="{% static 'numbers/6.png' %}" alt = "6"></img></td>
<td><img src="{% static 'numbers/7.png' %}" alt = "7"></img></td>
<td><img src="{% static 'numbers/8.png' %}" alt = "8"></img></td>
<td><img src="{% static 'numbers/9.png' %}" alt = "9"></img></td>
<td><img src="{% static 'numbers/10.png' %}" alt = "10"></img></td>
</tr>
<tr>
<td><center><a style="color:skyblue"><h2>6 - six </h2></a></center></td>
<td><center><a style="color:skyblue"><h2>7 - seven</h2></a></center></td>
<td><center><a style="color:skyblue"><h2>8 - eight<h2></a></center></td>
<td><center><a style="color:skyblue"><h2>9 - nine</h2></a></center></td>
<td><center><a style="color:skyblue"><h2>10 - ten</h2></a></center></td>
</tr>
 </center></table>
 <center><br><span style="font-size:35px; font-weight:bold; color:navy"> Numbers in word from 10 to 20</span></br></center>
 <table><center>
 <td><a style="color:mediumslateblue">  
 <h2>11-eleven </h2>
 <h2> 12-twelve </h2>
 <h2> 13-thirteen </h2>
 <h2> 14-fourteen </h2>
 <h2> 15-fifteen </h2>
 </a></td>
 <td><a style="color:mediumslateblue">
 <h2> 16-sixteen </h2>
 <h2> 17-seventeen </h2>
 <h2> 18-eighteen </h2>
 <h2> 19-nineteen </h2>
 <h2> 20-twenty </h2>
 </a></td>
 </table>
 
 
 <h3><a href="https://youtu.be/s5-0V8wIbxw" target="_blank"> Watch the video to learn numbers </a></h3>

</center>
 </body>
 </html>
 
 <h3><a href="https://youtu.be/s5-0V8wIbxw" target="_blank"> Watch a video to learn numbers </a></h3>

</center>
 </body>
 </html>
 {% endblock %}